<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row users-main-row">
    
      <section class="user_info">
        <%= render 'shared/user' %>
      </section>
    
  </div>
<% else %>
  <%= render template: "users/new" %>
<% end %>