<% provide(:title, "New") %>


<div class="row signup-row">
	<div class="col s12 l6">

		<h1 class="signup-title animated pulse">Sign up</h1>
    <div class="hidden-div"></div>
		<%= render 'form' %>
	</div>
</div>


