<% provide(:title, "Sign Up") %>
<div class="row signup-row">
	<div class="col s12 l6">
		<h1 class="signup-title animated pulse">Sign up</h1>
		<%= render 'form' %>
   <p class="signup-paragraph">Already have account? <%= link_to "Log in", login_path  %></p>
 </div>
</div>