<% provide(:title, "Show") %>
<div class="row users-row">
  <div class="col s8 offset-s2">
    <p id="notice"><%= notice %></p>
    <h1 class="create-grocery">Create your groceries!</h1>
  </div>
</div>

<div class="row">
  <div class="col s8 offset-s2">
    <%= link_to new_grocery_path, :class => "btn-floating btn-large waves-effect waves-light red" do %>
  <i class="mdi-content-add"></i>
<% end %>
  </div>
</div>

<% if @user.groceries.any? %>
<div class="row groceries-list">
  <div class="col s8 offset-s2">
    <h4 class="current-groceries">Your current groceries:</h4>
     <div class="col-md-8">
      <ul class="collection with-header">
        <%= render @groceries %>
      </ul>
      <%= will_paginate @groceries %>
    <% end %>
  </div> 
    
  </div>
</div>  