<% provide(:title, "Show") %>
<div class="row users-row">
  <div class="col s8 offset-s2">
    <p id="notice"><%= notice %></p>
    <h1 class="create-grocery">Create your groceries!</h1>
  </div>
</div>

<div class="row groceries-list">
  <div class="col s8 offset-s2">
    <h4 class="current-groceries">Your current groceries:</h4>
     <div class="col-md-8">
     <% if @user.groceries.any? %>
      <ol class="groceries-list">
        <%= render @groceries %>
      </ol>
      <%= will_paginate @groceries %>
    <% end %>
  </div> 
    
  </div>
</div>