<div class="row users-main-row">
  <div class="row users-row">
    <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
      <p id="notice"><%= notice %></p>
      <% if current_user.groceries.any? %>
      <h1 class="grocery-heading animated pulse">Your current groceries</h1>
    </div>
  </div>
  <div class="row groceries-list">
    <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
      <ul class="collapsible popout collapsible-accordion">
        <%= render @groceries %>      
      </ul>
      <%= will_paginate @groceries, :page_links => false, :html => false %>
      <% else %>
      <h1 class="grocery-heading animated pulse">You don't have groceries yet!</h1>
      <% end %>
    </div>
  </div>  
</div>

<script>
  $(document).ready(function(){
    $(".dropdown-button").dropdown();
    var dropdown = $(".dropdown-content");
    $(".collapsible-header").click(function(){
      if ($(dropdown).hasClass("active")) {
        /*alert("acitve");*/

        var collapsibleBody = $(this).siblings()
        $(collapsibleBody).css("display", "none");
      }
    });
  })
</script>
