<div class="row users-main-row">
  <div class="row users-row">
    <div class="col s10 offset-s1 l8 offset-l2">
      <p id="notice"><%= notice %></p>
       <% if current_user.groceries.any? %>
      <h1 class="grocery-heading">Your current groceries</h1>
    </div>
  </div>
  <div class="row groceries-list">
    <div class="col s10 offset-s1 l8 offset-l2">
      <ul class="collapsible popout collapsible-accordion">
        <%= render @groceries %>      
      </ul>

      <%= will_paginate @groceries, :html => false %>
      <% else %>
      <h1 style="color: #fff;">You dont have groceries yet!</h1>
      <% end %>
    </div>
  </div>  
</div>

