<li class="collection-item" id="grocery-<%= grocery.id %>">
 <i class="material-icons dp48">description</i>
 <span class="grocery-title"><%= grocery.title %></span>
 <span class="right">
  <%= link_to edit_grocery_path(grocery) do %>
  <i class="mdi-content-create icon-edit"></i><% end%>
  <%= link_to grocery, method: :delete, data: {confirm: "Are you sure?"} do %>
  <i class="material-icons dp48">delete</i><%end %>
</span>
</li>
