// Place all the styles related to the Groceries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.waves-input-wrapper .waves-button-input {
	background-color: transparent;
	border: none;
}

.create-grocery {
	color: #fff;
	size: em(50);
	text-align: center; 
}

.current-groceries {
	color: #fff;
}

.grocery-heading {
	margin: 0 auto 50px;
	color: #fff;
	text-align: center; 
	font: {
		size: em(50);
		weight: 500;
	} 
}

.grocery-title {
	display: block;
	font: {
		size: em(15);
		weight: 500;
	}
	text-align: left;
	
	@media (min-width: 480px) {
		font: {
			size: em(18);
			weight: 300;
		}

	}

	@media (min-width: 600px) {
		font: {
			size: em(28);
			weight: 300;
		}
		text-align: center; 
	}
}

.collection {
	border: none !important;
}

.collection-item {
	margin: 0 auto !important;
}

.grocery-edit,
.grocery-new {
	color: #fff;
	size: em(50);
	margin: 0 auto;
	text-align: center; 
}

.grocery-row {
	@include center;
}

#grocery_title,
#grocery_description {
	color: rgba(225,225,225, .9);
	margin: 0 auto !important;
	padding: 20px 0;
	min-height: 1em;
	font-size: em(20);
	font-weight: 300;   
}

.btn-grocery-submit {
	margin-top: 10px;
}

.btn-grocery-new {
	background-color: rgba(0, 0, 0, 0.5);
	
	&:hover {
		background-color: $darkblue; 
	}
	i {
		color: rgba(255, 255, 255, 0.7);
	}
}

.collapsible.popout {
	margin: 0 auto;
	
	li {
		-webkit-box-shadow: none; 
		box-shadow: none; 
	    width: 80%; 
		
		&.active {
			-webkit-box-shadow: none; 
			box-shadow: none; 	
		    width: 80%;
		    margin: 0 auto; 
		}
	}
}

.collapsible-header {
	background-color: transparent; 
	color: rgba(255, 255, 255, 0.71);
	height: 80px;
	line-height: 80px;
	border: none;
	margin-top: 5px;
	border-bottom: 1px solid rgba(255,255,255, 0.2);
	width: 100%;
	margin: 0 auto; 
	
	&:hover {
		background: rgba(255,255,255,.1);
		@include transition(all .4s ease-in-out);
	} 
}

.collapsible-body {
	background-color: transparent;
	color: rgba(255, 255, 255, 0.71);
	border-top: 1px solid rgba(221, 221, 221, 0.55);
	
}

.collapsible-header i {
	line-height: 80px; 
}

.icon-edit,
.icon-delete {
	color: rgba(0, 0, 0, 0.5);
	font: {
		size: em(25);
	}

	&:hover {
		color: $lightblue;
		@include transition(all .4s ease-in-out);
	}
}

.icon-delete {
	margin-left: 10px; 
}

.pagination {
	margin-top: 20px;
	
	.disabled {
		opacity: 0.5;
	}

	.current {
		background-color: rgba(0,0,0,0.5); 
		font-style: normal;  
		padding: 10px 10px !important;
	}

	a, .gap {
		background-color: transparent;
	}	

	a, .gap, .current {
		font-size: 1rem; 
		padding: 0 5px;
		line-height: 30px;
		border-radius: 2px;
		text-align: center;	
		color: #fff;
		
		@media (min-width: 600px) {
			padding: 0 10px;
			font-size: 1.2rem;
		}
	}
}

.checkbox-paragraph {
	display: inline; 
}

.checkbox {
	margin-left: 50px;
}

.previous_page {
	color: #fff;
	
	&:hover {
		@include transition(all .4s ease-in-out);
	}
}

.next_page {
	color: #fff;
	
	&:hover {
		@include transition(all .4s ease-in-out);
	}
}

.fa-sign-out {
	color: #fff; 
}

.fa-sidebar {
	color: #000;
}

.text-checked {
	text-decoration: line-through;
}

.dropdown-item {
	a {
		color: #000 !important;
	}
}

.fa-dropdown {
	color: #fff;
}

.dropdown-item {
	width: 100% !important; 
}

.collapsible-row {
	@include display(flex);
    @include justify-content(center);
    @include align-items(center);
}