// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users-main-row {
	@include center;
}

.signup-row {
	@include size(100%);
	margin: 0;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) ), url("/basket.jpg");
}

.signup-title {
	font: {
		size: em(80);
		weight: 700;
	}

	color: #fff;
	text-align: center; 
}

.signup-paragraph {
	color: #FFF; 
	margin-left: 17px; 
}


/* animate css */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* form */

input[type]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	
	color: $lightblue !important;

	&:focus {
		border-bottom: 1px solid $lightblue !important;
		box-shadow: 0 1px 0 0 $lightblue !important;
		
	}
}

input[type]:focus:not([readonly])::-webkit-input-placeholder {
  color: $lightblue !important;
}

input[type]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
	color: $lightblue !important;
}

.input-field label {
	color: #fbfbfb;
}

.input-field label.active {
	color: $lightblue;
}

.input-field .prefix.active {
	color: $lightblue !important;
}

.btn-blue {
	background-color: #3498DB !important; 
	margin-left: 7px;
}

.actions {
	text-align: left; 
}

.checkbox {
	position: static !important; 
	visibility: visible !important; 
}

[type="checkbox"]:not(:checked) {
	position: static !important;
	visibility: visible;
	left: 0 !important; 
}

input#session_remember_me {
    position: static;
    visibility: visible;
}